### Maven / Spring Boot ###
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
*.log

### Java ###
*.class
*.jar
*.war
*.ear
*.nar

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/
*.code-workspace

### Eclipse / STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/

### Operating System Junk ###
.DS_Store
Thumbs.db
desktop.ini

### Optional ###
HELP.md